.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.2s;
  flex-shrink: 0;

  &:hover {
    opacity: 0.7;
  }
  &__text {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-primary);
    white-space: nowrap;

    @media (max-width: 768px) {
      font-size: 1.25rem;
    }
  }

  &__image {
    display: block;
    min-width:219px;
    height: auto;
    object-fit: contain;
    @media screen and (max-width:550px) {
      min-width:146px;
      display:block;
      width:52vw
    }
  }
}